@using IARTAutomationApp.Models
@model IARTAutomationApp.Models.UomMaster
@{
    ViewBag.Title = "UOM";

}
@{ IARTDBNEWEntities db = new IARTDBNEWEntities();
    int empcode = 0;

    try
    {
        empcode = Convert.ToInt32(@Session["employeecode"]);
        ;

    }
    catch (Exception ext)
    {
        var a = ext;
    }
}
@using (Html.BeginForm("Create", "UOM", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    var user = (IARTAutomationApp.Models.UserMaster)Session["User"];
    <input type="hidden" name="CustomerId" value="@user.CustomerId" />
    <div class="content">
        <ol class="breadcrumb bc-colored bg-success m-b-3">

            <li class="breadcrumb-item"><a href="#">Store</a></li>
            <li class="breadcrumb-item"><a href="#">UOM</a></li>
            <li class="breadcrumb-item active">Add UOM</li>
        </ol>


        <div class="row">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="card-header bg-blue">
                        <h5 class="text-white m-b-0">Add UOM</h5>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h4 class="form-heading-1">Employee Code</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname3" class="col-sm-3 control-label">Employee ID</label>
                                    <input class="form-control" id="readonlyInput" readonly="" value="@empcode" type="text">

                                </div>
                            </div>
                        </div>
                        <h4 class="form-heading-1">Unit of Measurment Details</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>*@
                                    @Html.LabelFor(model => model.UOMName, htmlAttributes: new { })
                                    @Html.EditorFor(model => model.UOMName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UOMName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>*@
                                    @Html.LabelFor(model => model.UOMCode, htmlAttributes: new { })
                                    @Html.EditorFor(model => model.UOMCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UOMCode, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>*@
                                    @Html.LabelFor(model => model.UOMStatus, htmlAttributes: new { })
                                    @Html.DropDownList("UOMStatus", (SelectList)ViewBag.Status, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UOMStatus, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>*@
                                    @Html.LabelFor(model => model.UOMDesc, htmlAttributes: new { })
                                    @Html.EditorFor(model => model.UOMDesc, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UOMDesc, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="button" value="Submit" class="btn btn-success" data-toggle="modal" data-target="#myModal" />

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @* <button type="button" class="close" data-ng-show="modal">&times;</button>*@
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to Save this Class</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Proceed" class="btn btn-success" data-show="modal" />

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

}

