@model IEnumerable<IARTAutomationApp.ViewModels.UomDetails>
@{
    ViewBag.Title = "All UOM";

}

<div class="content">
    <ol class="breadcrumb bc-colored bg-success m-b-3">
        <li class="breadcrumb-item"><a href="#">Store</a></li>
        <li class="breadcrumb-item active">View UOM</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-black m-b-1">All UOM Information</h4>
                            <p></p>
                            <div class="row m-t-4">
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-facebook text-white">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-face-smile"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Total UOM Records</h6>
                                                <h1 class="text-white">@ViewBag.TotalUomCount</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->

                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-green ">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-stats-up text-white"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Total Active UOM</h6>
                                                <h1 class="text-white">@ViewBag.UomActiveCount</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-red">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-na"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Total Closed UOM</h6>
                                                <h1 class="text-white">@ViewBag.UomClosedCount</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="text-align: center; color: white;">S. No.</th>
                                                <th style="text-align: center; color: white;">@Html.DisplayNameFor(model => model.uom.UOMName)</th>
                                                <th style="text-align: center; color: white;">@Html.DisplayNameFor(model => model.uom.UOMCode)</th>
                                                <th style="text-align: center; color: white;">@Html.DisplayNameFor(model => model.status)</th>
                                                <th style="text-align: center; color: white;">@Html.DisplayNameFor(model => model.uom.UOMDesc)</th>
                                                <th style="text-align: center; color: white;">UOM Created By</th>
                                                <th style="width: 150px; text-align: center; color: white;">Action</th>
                                            </tr>
                                        </thead>
                                        @{
                                            int counter = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td style="text-align: center;">
                                                        @(counter++)
                                                    </td>

                                                    <td style="text-align: center;">
                                                        @Html.DisplayFor(modelItem => item.uom.UOMName)
                                                    </td>
                                                    <td style="text-align: center;">
                                                        @Html.DisplayFor(modelItem => item.uom.UOMCode)
                                                    </td>

                                                    <td style="text-align: center;">
                                                        @if (item.status == "Active")
                                                        {
                                                            <span class="label label-success">@Html.DisplayFor(modelItem => item.status)</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.status)</span>
                                                        }

                                                    </td>
                                                    <td style="text-align: center;">
                                                        @Html.DisplayFor(modelItem => item.uom.UOMDesc)
                                                    </td>
                                                    <td style="text-align: center;">
                                                        @Html.DisplayFor(modelItem => item.empName)
                                                        <br />Emp Id: @Html.DisplayFor(modelItem => item.uom.EmployeeID)
                                                        <br />On: @Html.DisplayFor(modelItem => item.uom.CreatedDate)
                                                    </td>

                                                    <td style="text-align: center;">
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.uom.RecordId })  |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.uom.RecordId })

                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tfoot class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="text-align: center; color: white;">S. No.</th>
                                                <th style="text-align: center; color: white;">@Html.DisplayNameFor(model => model.uom.UOMName)</th>
                                                <th style="text-align: center; color: white;">@Html.DisplayNameFor(model => model.uom.UOMCode)</th>
                                                <th style="text-align: center; color: white;">@Html.DisplayNameFor(model => model.status)</th>
                                                <th style="text-align: center; color: white;">@Html.DisplayNameFor(model => model.uom.UOMDesc)</th>
                                                <th style="text-align: center; color: white;">UOM Created By</th>
                                                <th style="width: 150px; text-align: center; color: white;">Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
