@model IEnumerable<IARTAutomationApp.Models.EmpAIConference>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendedDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendedDate)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConferenceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConferenceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConferenceId })
        </td>
    </tr>
}

</table>
