@model IARTAutomationApp.Models.GraduateAttachmentForm

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>GraduateAttachmentForm</h4>
    <hr />
  <dl style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.OurRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OurRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YourRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YourRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LetterDated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LetterDated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficerInCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficerInCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrincipalAccountant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrincipalAccountant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReinstatePayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReinstatePayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGI.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGI.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGI1.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGI1.Rank)
        </dd>

    </dl>
</div>
 
