@model IARTAutomationApp.Models.LeaveLedger

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>LeaveLedger</h4>
    <hr />
  <dl style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumedLeaves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumedLeaves)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BalanceLeaves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalanceLeaves)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeaveLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
