@model IARTAutomationApp.Models.EmployeeGI

@{
    ViewBag.Title = "Delete";

}

<h3 class="alert-danger" style="text-align:center">Delete</h3>

<h5 class="alert-danger" style="text-align:center">Are you sure you want to delete this?</h5>
 <div>
    <h4>EmployeeGI</h4>
    <hr />
    <dl style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade_Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade_Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cadre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cadre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Middle_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middle_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marital_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marital_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maiden_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maiden_Name)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.Spouse_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spouse_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Home_Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Home_Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactHomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactHomeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstAppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstAppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstAppointmentLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstAppointmentLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRetirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRetirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPromotionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPromotionDate)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leave_fromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leave_fromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leave_ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leave_ToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
