@model IARTAutomationApp.Models.NyscFinalClearance

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>NyscFinalClearance</h4>
    <hr />
  <dl style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.OurRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OurRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YourRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YourRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NYSC_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NYSC_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGI.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGI.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGI1.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGI1.Rank)
        </dd>

    </dl>
</div>
 