@model  IARTAutomationApp.ViewModels.EmployeeAll
@*@model  IARTAutomationApp.Models.EmployeeAI*@
@{
    ViewBag.Title = "Edit";

    int countprof = 0;
    int countconf = 0;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    var user = (IARTAutomationApp.Models.UserMaster)Session["User"];
    <input type="hidden" name="CustomerId" value="@user.CustomerId" />
    <div class="content">

        <ol class="breadcrumb bc-colored bg-success m-b-3">
            <li class="breadcrumb-item"><a href="#">Admin-HR</a></li>
            <li class="breadcrumb-item active">Add Employees Academic Information</li>
        </ol>



        <div class="row">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="card-header bg-blue">
                        <h5 class="text-white m-b-0">Add Employee Academic Information</h5>
                    </div>
                    @foreach (var item in Model.employeeai)
                    {
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <!--Row Employee Code-->
                            <h4 class="form-heading-1">Employee Code</h4>
                            <div class="row">

                                <!--Form Field Employee Code-->
                                <div class="col-md-6">
                                    <div class="form-group">

                                        @Html.Label("Employee Code", "Select Employee Code", htmlAttributes: new { @class = "col-sm-6" })
                                        @Html.TextBoxFor(model => item.EmployeeCode, "", new { @class = "form-control", @id = "EmployeeCode" })
                                        @* @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <!--EOF Employee Code-->

                            </div>
                            <!--EOF Row Employee Code-->

                            <hr class="m-t-3 m-b-3">

                            <h4 class="form-heading-1">Academic Info</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        @Html.Label("InstitutionAttended", htmlAttributes: new { @class = "col-sm-3" })
                                        <div class="col-sm-9 row">
                                            <div class="input-group col-sm-4">
                                                @Html.EditorFor(model => item.InstitutionAttended1, new { htmlAttributes = new { @class = "form-control", @id = "InstitutionAttended1" } })
                                                @*   @Html.ValidationMessageFor(model => model.item, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="input-group col-sm-4">
                                                @Html.EditorFor(model => item.InstitutionAttended2, new { htmlAttributes = new { @class = "form-control", @id = "InstitutionAttended2" } })
                                                @*@Html.ValidationMessageFor(model => model.InstitutionAttended2, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="input-group col-sm-4">
                                                @Html.EditorFor(model => item.InstitutionAttended3, new { htmlAttributes = new { @class = "form-control", @id = "InstitutionAttended3" } })
                                                @*  @Html.ValidationMessageFor(model => model.InstitutionAttended3, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        @Html.Label("Qualification", htmlAttributes: new { @class = "col-sm-3" })
                                        <div class="col-sm-9 row">
                                            <div class="input-group col-sm-4">
                                                @Html.DropDownList(item.Qualification1, ViewBag.Qualification1s as IEnumerable<SelectListItem>, item.Qualification1, htmlAttributes: new { @class = "form-control", @id = "Qualification1" })

                                                @* @Html.ValidationMessageFor(model => model.Qualification1, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="input-group col-sm-4">
                                                @Html.DropDownList(item.Qualification2, ViewBag.Qualification2s as IEnumerable<SelectListItem>, item.Qualification2, htmlAttributes: new { @class = "form-control", @id = "Qualification2" })

                                                @* @Html.ValidationMessageFor(model => model.Qualification2, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="input-group col-sm-4">
                                                @Html.DropDownList(item.Qualification3, ViewBag.Qualification3s as IEnumerable<SelectListItem>, item.Qualification3, htmlAttributes: new { @class = "form-control", @id = "Qualification3" })

                                                @*  @Html.ValidationMessageFor(model => model.Qualification3, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => item.YearOfGraduation1, htmlAttributes: new { @class = "col-sm-3" })

                                        <div class="col-sm-9 row">
                                            <div class="input-group col-sm-4">
                                                @*   @Html.DropDownList("YearOfGraduation1", (SelectList)ViewBag.YearOfGraduation1s, htmlAttributes: new { @class = "form-control" })*@
                                                @Html.DropDownList(item.YearOfGraduation1, ViewBag.YearOfGraduation1s as IEnumerable<SelectListItem>, item.YearOfGraduation1, htmlAttributes: new { @class = "form-control", @id = "YearOfGraduation1" })




                                            </div>
                                            <div class="input-group col-sm-4">
                                                @Html.DropDownList(item.YearOfGraduation2, ViewBag.YearOfGraduation2s as IEnumerable<SelectListItem>, item.YearOfGraduation2, htmlAttributes: new { @class = "form-control", @id = "YearOfGraduation2" })




                                            </div>
                                            <div class="input-group col-sm-4">
                                                @* @Html.DropDownList("YearOfGraduation3", (SelectList)ViewBag.YearOfGraduation3s, htmlAttributes: new { @class = "form-control" })*@
                                                @Html.DropDownList(item.YearOfGraduation3, ViewBag.YearOfGraduation3s as IEnumerable<SelectListItem>, item.YearOfGraduation3, htmlAttributes: new { @class = "form-control", @id = "YearOfGraduation3" })


                                                @*@Html.ValidationMessageFor(model => item.YearOfGraduation3, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <hr class="m-t-3 m-b-3">

                            <h4 class="form-heading-1">Professional Accociation</h4>
                            <div class="col-md-12">
                                <table class="table text-bold" id="tblAsso">
                                    <thead>
                                        <tr>
                                            <th class="invisible">Prof.Ass.ID</th>
                                            <th>Title</th>

                                            <th>ID Number</th>

                                            <th>Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item2 in Model.employeeassociation)
                                        {
                                            { countprof = countprof + 1; }

                                            <tr>

                                                <td class="invisible">
                                                    <input class="form-control text-box single-line" data-val="true" name="ProfessionalAssociationsId" type="text" readonly="readonly" value=@item2.AssociationsId />
                                                </td>

                                                <td>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Professional Associations Title" name="ProfessionalAssociationsTitle" type="text" value=@item2.Title />
                                                </td>

                                                <td>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Professional Associations Id" name="ProfessionalAssociationsIdNo" type="text" value=@item2.IDnumber />
                                                </td>

                                                <td>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field Professional Associations Date must be a date." data-val-required="Please Input Professional Associations Date" name="ProfessionalAssociationsDate" value=@item2.AttendedDate />
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                            @*<div class="row">

                                <div class="col-md-12">
                                    <div class="form-group" id="aso">

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="Title">Title</label>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Professional Associations Title" id="ProfessionalAssociationsTitle" name="ProfessionalAssociationsTitle" type="text" value=@item2.Title />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="ProfessionalAssociationsTitle" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="ID_Number">ID Number</label>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Professional Associations Id" id="ProfessionalAssociationsIdNo" name="ProfessionalAssociationsIdNo" type="text" value=@item2.IDnumber />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="ProfessionalAssociationsIdNo" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="Date">Date</label>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field Professional Associations Date must be a date." data-val-required="Please Input Professional Associations Date" id="ProfessionalAssociationsDate" name="ProfessionalAssociationsDate" value=@item2.AttendedDate />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="ProfessionalAssociationsDate" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                @*<div class="col-md-12">
                                    <table class="table text-bold" id="tblAsso">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>ID Number</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <div class="col-md-2">
                                    <input align="center" type="button" id="btnAddAsso" class="btn btn-primary" value="Add" />
                                </div>*@

                            @*</div>*@

                            <hr class="m-t-3 m-b-3">


                            <h4 class="form-heading-1">Conference / Seminar Attended</h4>
                            <div class="col-md-12">
                                <table class="table text-bold" id="tblConf">
                                    <thead>
                                        <tr>
                                            <th class="invisible">Conference ID</th>
                                            <th>Name of Conference</th>
                                            <th>Title of Conference</th>
                                            <th>Date of Conference</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item3 in Model.employeeconference)
                                        {
                                            { countprof = countprof + 1; }
                                            <tr>

                                                <td class="invisible">    <input class="form-control text-box single-line" data-val="true" name="ConferenceAttendedId" type="text" readonly="readonly" value=@item3.ConferenceId /></td>

                                                <td>    <input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Conference Attended Name" name="ConferenceAttendedName" type="text" value=@item3.Name /></td>


                                                <td>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Conference Attended Title" name="ConferenceAttendedTitle" type="text" value=@item3.Title />
                                                </td>

                                                <td>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field Conference Attended Date must be a date." data-val-required="Please Input Conference Attended Date" id="ConferenceAttendedDate" name="ConferenceAttendedDate" value=@item3.AttendedDate />
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            @*<div class="row">

                                <div class="col-md-12">
                                    <div class="form-group" id="cnf">

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="Name_of_Conference">Name of Conference</label>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Conference Attended Name" id="ConferenceAttendedName" name="ConferenceAttendedName" type="text" value=@item3.Name />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedName" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="Title_of_Conference">Title of Conference</label>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Conference Attended Title" id="ConferenceAttendedTitle" name="ConferenceAttendedTitle" type="text" value=@item3.Title />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedTitle" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="Date_of_Conference">Date of Conference</label>
                                                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field Conference Attended Date must be a date." data-val-required="Please Input Conference Attended Date" id="ConferenceAttendedDate" name="ConferenceAttendedDate"  value=@item3.AttendedDate />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedDate" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>*@

                            @*<div class="col-md-12">
                                    <table class="table text-bold" id="tblConf">
                                        <thead>
                                            <tr>
                                                <th>Name of Conference</th>
                                                <th>Title of Conference</th>
                                                <th>Date of Conference</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <div class="col-md-2">
                                    <input align="center" type="button" id="btnAddConf" class="btn btn-primary" value="Add" />
                                </div>*@
                            @*</div>*@

                            <hr class="m-t-3 m-b-3">

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="button" value="Update" class="btn btn-success" data-toggle="modal" data-target="#myModal" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-ng-show="modal">&times;</button>*@
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to Update this record</p>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Proceed" id="btnSave" class="btn btn-success" data-show="modal" />

                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        $.noConflict(); $("#EmployeeCode").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: "/EmployeeAIs/AutoEmployeeCode",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Value, value: item.Value };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>


<script type="text/javascript">
    $("#btnAddAsso").click(function () {

        var ProfessionalAssociationsTitle = $("#ProfessionalAssociationsTitle");
        var ProfessionalAssociationsIdNo = $("#ProfessionalAssociationsIdNo");
        var ProfessionalAssociationsDate = $("#ProfessionalAssociationsDate");


        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblAsso > TBODY")[0];

        //Add Row.
        var row = tBody.insertRow(-1);

        cell = $(row.insertCell(-1));
        cell.html(ProfessionalAssociationsTitle.val());

        cell = $(row.insertCell(-1));
        cell.html(ProfessionalAssociationsIdNo.val());

        cell = $(row.insertCell(-1));
        cell.html(ProfessionalAssociationsDate.val());

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("class", "btn btn-danger");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this, tblAsso);");
        btnRemove.val("Remove");
        cell.append(btnRemove);

        $('#ProfessionalAssociationsTitle').val('');
        $('#ProfessionalAssociationsIdNo').val('');
        $('#ProfessionalAssociationsDate').val('');

    });
    $("#btnAddConf").click(function () {

        var ConferenceAttendedName = $("#ConferenceAttendedName");
        var ConferenceAttendedTitle = $("#ConferenceAttendedTitle");
        var ConferenceAttendedDate = $("#ConferenceAttendedDate");


        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblConf > TBODY")[0];

        //Add Row.
        var row = tBody.insertRow(-1);

        cell = $(row.insertCell(-1));
        cell.html(ConferenceAttendedName.val());

        cell = $(row.insertCell(-1));
        cell.html(ConferenceAttendedTitle.val());

        cell = $(row.insertCell(-1));
        cell.html(ConferenceAttendedDate.val());

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("class", "btn btn-danger");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this, tblConf);");
        btnRemove.val("Remove");
        cell.append(btnRemove);

        $('#ConferenceAttendedName').val('');
        $('#ConferenceAttendedTitle').val('');
        $('#ConferenceAttendedDate').val('');

    });


    function Remove(button,tableName) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete: " + name)) {
            //Get the reference of the Table.
            var table = $(tableName)[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    $("body").on("click", "#btnSave", function () {

        //Loop through the Table rows and build a JSON array.
        var ObjAssociation = new Array();
        var ObjConferenece = new Array();

        $("#tblAsso TBODY TR").each(function () {
            var row = $(this);
            var association = {};

            association.EmployeeCode = $("#EmployeeCode").val();
            association.AssociationsId= $(this).find("input").eq(0).val();
            association.Title = $(this).find("input").eq(1).val();
            association.IDNumber =$(this).find("input").eq(2).val();
            association.AttendedDate = $(this).find("input").eq(3).val();
            association.CreatedDate=  $(this).find("input").eq(3).val();
            association.IsDeleted  =false;
            ObjAssociation.push(association);
        });

        @*alert($('#ProfessionalAssociationsTitle1').val());
        var association = {};
        var i=0;
        while(i<=@countconf)
        {
            i++;
            alert($('#ProfessionalAssociationsTitle1').val());
            association.EmployeeCode = $("#EmployeeCode").val();
            association.Title =  $('#ProfessionalAssociationsTitle1').val();
            association.IDNumber =  $("#ProfessionalAssociationsIdNo"+i+"").val();
            association.AttendedDate =  $("#ProfessionalAssociationsDate"+i+"").val();
            association.CreatedDate=   $("#ProfessionalAssociationsDate"+i+"").val();
            association.IsDeleted  =false;
            ObjAssociation.push(association);
        }*@

        $("#tblConf TBODY TR").each(function () {
            var row = $(this);
            var conference = {};
            conference.EmployeeCode = $("#EmployeeCode").val();
            conference.ConferenceId = $(this).find("input").eq(0).val();
            conference.Name = $(this).find("input").eq(1).val();
            conference.Title = $(this).find("input").eq(2).val();
            conference.AttendedDate = $(this).find("input").eq(3).val();
            conference.CreatedDate= $(this).find("input").eq(3).val();
            conference.IsDeleted  =false;
            ObjConferenece.push(conference);
        });
        var objAcademic=[];
        var obj={};
        obj.EmployeeCode=$('#EmployeeCode').val();
        obj.InstitutionAttended1 = $('#InstitutionAttended1').val();
        obj.InstitutionAttended2 = $('#InstitutionAttended2').val();
        obj.InstitutionAttended3 = $('#InstitutionAttended3').val();
        obj.InstitutionAttended1 = $('#InstitutionAttended1').val();
        obj.Qualification1 = $('#Qualification1 :selected').text();
        obj.Qualification2 = $('#Qualification2 :selected').text();
        obj.Qualification3 =$('#Qualification3 :selected').text();
        obj.YearOfGraduation1 =$('#YearOfGraduation1 :selected').text();
        obj.YearOfGraduation2 =$('#YearOfGraduation2 :selected').text();
        obj.YearOfGraduation3 = $('#YearOfGraduation3 :selected').text();


        //var model = {

        //    "ObjAssociation": ObjAssociation,

        //    "ObjConferenece": ObjConferenece
        //}

        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/EmployeeAIs/Edit",
            //data:  model,
            data: JSON.stringify({obj:obj, ObjAssociation: ObjAssociation, ObjConferenece: ObjConferenece}), //stringify the whole data again

            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r > 0) {
                    alert("Employee Academic Record is Updated Successfully");
                    window.location = '/EmployeeAIs/Edit/' + r;
                    //window.location = '/EmployeeAIs/index';
                }
                else {
                    alert("Please Enter Correct Data");
                    window.location = '/EmployeeAIs/Edit/'+r;
                }

            }
        });
    });
</script>
<!-- ./wrapper -->
<!-- jQuery 3 -->
@*<script src="http://iartautomation.indusfertilizers.com/Content/dist/js/jquery.min.js"></script>

    <!-- v4.0.0-alpha.6 -->
    <script src="http://iartautomation.indusfertilizers.com/Content/dist/bootstrap/js/bootstrap.min.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="http://iartautomation.indusfertilizers.com/Content/dist/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />*@





<script>
    var max_fields = 10;
    var wrapper_aso = $("#aso");
    var add_button_aso = $("#btn-aso");
    var remove_button_aso = $("#btn-aso-rm");

    var wrapper_cnf = $("#cnf");
    var add_button_cnf = $("#btn-cnf");
    var remove_button_cnf = $("#btn-cnf-rm");

    $(add_button_aso).click(function (e) {
        e.preventDefault();
        var total_fields = wrapper_aso[0].childNodes.length;
        if (total_fields < max_fields) {
            $(wrapper_aso).append(
                '<div class="row">' +
                '<div class="col-sm-4">' +
                '<div class="form-group">' +
                '<label for="Name_of_Conference">Name of Conference</label>' +
                '<input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Conference Attended Name" id="ConferenceAttendedName" name="ConferenceAttendedName" type="text" value="" />' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedName" data-valmsg-replace="true"></span>' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-4">' +
                '<div class="form-group">' +
                '<label for="Title_of_Conference">Title of Conference</label>' +
                '<input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Conference Attended Title" id="ConferenceAttendedTitle" name="ConferenceAttendedTitle" type="text" value="" />' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedTitle" data-valmsg-replace="true"></span>' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-4">' +
                '<div class="form-group">' +
                '<label for="Date_of_Conference">Date of Conference</label>' +
                '<input class="form-control text-box single-line" data-val="true" data-val-date="The field Conference Attended Date must be a date." data-val-required="Please Input Conference Attended Date" id="ConferenceAttendedDate" name="ConferenceAttendedDate" type="date" value="" />' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedDate" data-valmsg-replace="true"></span>' +
                '</div>' +
                '</div>' +
                '</div>');
        }
    });
    $(remove_button_aso).click(function (e) {
        e.preventDefault();
        var total_fields = wrapper_aso[0].childNodes.length;
        if (total_fields > 2) {
            wrapper_aso[0].childNodes[total_fields - 1].remove();
        }
    });


    $(add_button_cnf).click(function (e) {
        e.preventDefault();
        var total_fields = wrapper_cnf[0].childNodes.length;
        if (total_fields < max_fields) {
            $(wrapper_cnf).append(
                '<div class="row">' +
                '<div class="col-sm-4">' +
                '<div class="form-group">' +
                '<label for="Name_of_Conference">Name of Conference</label>' +
                '<input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Conference Attended Name" id="ConferenceAttendedName" name="ConferenceAttendedName" type="text" value="" />' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedName" data-valmsg-replace="true"></span>' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-4">' +
                '<div class="form-group">' +
                '<label for="Title_of_Conference">Title of Conference</label>' +
                '<input class="form-control text-box single-line" data-val="true" data-val-required="Please Input Conference Attended Title" id="ConferenceAttendedTitle" name="ConferenceAttendedTitle" type="text" value="" />' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedTitle" data-valmsg-replace="true"></span>' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-4">' +
                '<div class="form-group">' +
                '<label for="Date_of_Conference">Date of Conference</label>' +
                '<input class="form-control text-box single-line" data-val="true" data-val-date="The field Conference Attended Date must be a date." data-val-required="Please Input Conference Attended Date" id="ConferenceAttendedDate" name="ConferenceAttendedDate" type="date" value="" />' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="ConferenceAttendedDate" data-valmsg-replace="true"></span>' +
                '</div>' +
                '</div>' +
                '</div>');
        }
    });
    $(remove_button_cnf).click(function (e) {
        e.preventDefault();
        var total_fields = wrapper_cnf[0].childNodes.length;
        if (total_fields > 2) {
            wrapper_cnf[0].childNodes[total_fields - 1].remove();
        }
    });
</script>



<script>
    $(document).ready(function () {
        BindControls();
    });

    function BindControls() {

        var itxtCnt = 0;    // COUNTER TO SET ELEMENT IDs.

        // CREATE A DIV DYNAMICALLY TO SERVE A CONTAINER TO THE ELEMENTS.
        var container = $(document.createElement('div')).css({
            width: '100%',
            clear: 'both',
            'margin-top': '10px',
            'margin-bottom': '10px'
        });

        // CREATE THE ELEMENTS.
        $('#btAdd').click(function () {
            itxtCnt = itxtCnt + 1;

            $(container).append('<input type="text"' +
                'placeholder="Field Name" class="input" id=tb' + itxtCnt + ' value="" />');

            if (itxtCnt == 1) {
                var divSubmit = $(document.createElement('div'));
                $(divSubmit).append('<input type="button" id="btSubmit" value="Submit" class="bt"' +
                    'onclick="getTextValue()" />');
            }

            // ADD EVERY ELEMENT TO THE MAIN CONTAINER.
            $('#main').after(container, divSubmit);
        });
    }

    // THE FUNCTION TO EXTRACT VALUES FROM TEXTBOXES AND POST THE VALUES (TO A WEB METHOD) USING AJAX.
    var values = new Array();
    function getTextValue() {
        $('.input').each(function () {
            if (this.value != '')
                values.push(this.value);
        });

        if (values != '') {
            // NOW CALL THE WEB METHOD WITH THE PARAMETERS USING AJAX.
            $.ajax({
                type: 'POST',
                url: 'default.aspx/loadFields',
                data: "{'fields':'" + values + "', 'table': '" + $('#tbTableName').val() + "'}",
                dataType: 'json',
                headers: { "Content-Type": "application/json" },
                success: function (response) {
                    values = [];    // EMPTY THE ARRAY.
                    alert(response.d);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        else { alert("Fields cannot be empty.") }
    }
</script>
