@model IEnumerable<IARTAutomationApp.Models.EmployeeAI>
@using IARTAutomationApp.Models
@{
    ViewBag.Title = "Index";
   
    int SrNo = 0;
    IARTDBNEWEntities db = new IARTDBNEWEntities();
}

<!-- Main content -->
<div class="content">

    <ol class="breadcrumb bc-colored bg-success m-b-3">
        <li class="breadcrumb-item"><a href="#">Admin-HR</a></li>
        <li class="breadcrumb-item active">All Employees Academic Information</li>
    </ol>
    <h5 class="alert-danger"> @TempData["msg"] </h5>
    <h5 class="text-success">  @TempData["successmsg"] </h5>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-black m-b-1">All Employees Academic Information</h4>
                            <p></p>
                            <div class="row m-t-4">
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-green text-white">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-face-smile"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Total Employee Records</h6>
                                                <h1 class="text-white">@ViewBag.NoOfStaff</h1>
                                                <span class="progress-description text-white">  </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-darkblue">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-stats-up text-white"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">New Employees</h6>
                                                <h1 class="text-white">4</h1>
                                                <span class="progress-description text-white"> 70% Increase in 30 Days </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-aqua">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-bar-chart"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">On Leave</h6>
                                                <h1 class="text-white">1</h1>
                                                <span class="progress-description text-white"> 50% Increase in 30 Days </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-orange">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-money"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Retiring Soon</h6>
                                                <h1 class="text-white">0</h1>
                                                <span class="progress-description text-white"> 35% Increase in 30 Days </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="width:100px; text-align: center;">S. No.</th>
                                                <th style="width: 150px; text-align: center;">@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                                                <th style="text-align: center;">@Html.DisplayName("Institute Attended")</th>
                                                <th style="width: 150px; text-align: center;">@Html.DisplayName("Qualification")</th>
                                                <th style="width: 100px; text-align: center;">@Html.DisplayName("Year of Graduation")</th>
                                                <th>@Html.DisplayName("Professional Association")</th>
                                                <th>@Html.DisplayName("Conference Attended")</th>
                                                <th style="width:150px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            {
                                                SrNo = SrNo + 1;
                                            }
                                            <tr>
                                                <td style="text-align: center;">
                                                    @SrNo
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(model => item.EmployeeGI.EmployeeCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InstitutionAttended1) <br />
                                                    @Html.DisplayFor(modelItem => item.InstitutionAttended2) <br />
                                                    @Html.DisplayFor(modelItem => item.InstitutionAttended3)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.Qualification1) <br />
                                                    @Html.DisplayFor(model => item.Qualification2) <br />
                                                    @Html.DisplayFor(model => item.Qualification3)
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(model => item.YearOfGraduation1) <br />
                                                    @Html.DisplayFor(model => item.YearOfGraduation2) <br />
                                                    @Html.DisplayFor(model => item.YearOfGraduation3)
                                                </td>
                                                
                                                @{int srAi = 0,srCi=0,countAi=1, countCi = 1;}
                                                    @foreach (var empai in db.EmpAIAssociations.Where(z => z.EmployeeCode == item.EmployeeCode))
                                                    {
                                                        if (srAi == 0)
                                                        {
                                                            { srAi = srAi + 1;
                                                                countAi = 0;
                                                            }
                                                    <td>
                                                        Title: @Html.DisplayFor(model => empai.Title) <br />
                                                        ID No: @Html.DisplayFor(model => empai.IDnumber) <br />
                                                        Date: @Html.DisplayFor(model =>empai.AttendedDate)
                                                    </td>
                                                        }
                                                    }
                                                @if(countAi == 1)
                                                { <td></td>}


                                                        @foreach (var emppi in db.EmpAIConferences.Where(z => z.EmployeeCode == item.EmployeeCode))
                                                        {
                                                            if (srCi == 0)
                                                            {
                                                                { srCi = srCi + 1;
                                                                    countCi = 0;
                                                                }
                                                            <td>

                                                                Name: @Html.DisplayFor(modelItem => emppi.Name) <br />
                                                                Title: @Html.DisplayFor(modelItem => emppi.Title) <br />
                                                                Date: @Html.DisplayFor(modelItem => emppi.AttendedDate)
                                                            </td>
                                                            }

                                                        }
                                                @if (countCi == 1)
                                                {
                                                <td></td>}

                                                            <td style="text-align: center;">
                                                                <!--<i class="fas fa-pencil-alt edit-delete"></i>&nbsp;&nbsp; | &nbsp;&nbsp;
                                                                <i class="fas fa-trash-alt edit-delete"></i>&nbsp;&nbsp; | &nbsp;&nbsp;
                                                                <i class="fas fa-eye edit-delete"></i> <br />-->

                                                                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeAIId }) |
                                                                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeAIId }) |
                                                                @Html.ActionLink("Full Details", "FullDetails", new { id = item.EmployeeCode })
                                                            </td>
                                                        </tr>
                                                        }
                                        <tfoot class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="width:100px; text-align: center;">S. No.</th>
                                                <th style="width: 150px; text-align: center;">@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                                                <th style="text-align: center;">@Html.DisplayName("Institute Attended")</th>
                                                <th style="text-align: center;">@Html.DisplayName("Qualification")</th>
                                                <th style="text-align: center;">@Html.DisplayName("Year of Graduation")</th>
                                                <th>@Html.DisplayName("Professional Association")</th>
                                                <th>@Html.DisplayName("Conference Attended")</th>
                                                <th style="width:150px; text-align: center;">Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main row -->
</div>
<!-- /.content -->
