@model IEnumerable<IARTAutomationApp.Models.EmployeeAI>

@{
    ViewBag.Title = "Index";
    
    int SrNo = 0;
}

<!-- Main content -->
<div class="content">

    <ol class="breadcrumb bc-colored bg-success m-b-3">
        <li class="breadcrumb-item"><a href="#">Admin-HR</a></li>
        <li class="breadcrumb-item active"> Academic Information</li>
    </ol>
    <h5 class="alert-danger"> @TempData["msg"] </h5>
    <h5 class="text-success">  @TempData["successmsg"] </h5>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-black m-b-1">  Academic Information</h4>
                            <p></p>
                     
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="width:100px; text-align: center;">S. No.</th>
                                                <th style="width: 150px; text-align: center;">@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                                                <th style="text-align: center;">@Html.DisplayName("Institute Attended")</th>
                                                <th style="width: 150px; text-align: center;">@Html.DisplayName("Qualification")</th>
                                                <th style="width: 100px; text-align: center;">@Html.DisplayName("Year of Graduation")</th>
                                                <th>@Html.DisplayName("Professional Association")</th>
                                                <th>@Html.DisplayName("Conference Attended")</th>
                                              
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            { SrNo = SrNo + 1; }
                                            <tr>
                                                <td style="text-align: center;">
                                                   @SrNo 
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(model => item.EmployeeGI.EmployeeCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InstitutionAttended1) <br />
                                                    @Html.DisplayFor(modelItem => item.InstitutionAttended2) <br />
                                                    @Html.DisplayFor(modelItem => item.InstitutionAttended3)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.Qualification1) <br />
                                                    @Html.DisplayFor(model => item.Qualification2) <br />
                                                    @Html.DisplayFor(model => item.Qualification3)
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(model => item.YearOfGraduation1) <br />
                                                    @Html.DisplayFor(model => item.YearOfGraduation2) <br />
                                                    @Html.DisplayFor(model => item.YearOfGraduation3)
                                                </td>
                                                <td>
                                                    Title: @Html.DisplayFor(model => item.ProfessionalAssociationsTitle) <br />
                                                    ID No: @Html.DisplayFor(model => item.ProfessionalAssociationsIdNo) <br />
                                                    Date: @Html.DisplayFor(model => item.ProfessionalAssociationsDate)
                                                </td>
                                                <td>
                                                    Name: @Html.DisplayFor(modelItem => item.ConferenceAttendedName) <br />
                                                    Title: @Html.DisplayFor(modelItem => item.ConferenceAttendedTitle) <br />
                                                    Date: @Html.DisplayFor(modelItem => item.ConferenceAttendedDate)
                                                </td>
                                               
                                            </tr>
                                        }
                                        <tfoot class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="width:100px; text-align: center;">S. No.</th>
                                                <th style="width: 150px; text-align: center;">@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                                                <th style="text-align: center;">@Html.DisplayName("Institute Attended")</th>
                                                <th style="text-align: center;">@Html.DisplayName("Qualification")</th>
                                                <th style="text-align: center;">@Html.DisplayName("Year of Graduation")</th>
                                                <th>@Html.DisplayName("Professional Association")</th>
                                                <th>@Html.DisplayName("Conference Attended")</th>
                                             
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main row -->
</div>
<!-- /.content --> 
