@model IARTAutomationApp.Models.ProgrammeMaster

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>ProgrammeMaster</h4>
    <hr />
  <dl style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.ProgrammeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProgrammeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
