@model IARTAutomationApp.Models.LeaveTypeMaster

@{
    ViewBag.Title = "Create";

}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="content">

        <ol class="breadcrumb bc-colored bg-success m-b-3">
            <li class="breadcrumb-item"><a href="#">Admin-HR</a></li>
            <li class="breadcrumb-item"><a href="#">Leave Management</a></li>
            <li class="breadcrumb-item active">Add New Leave Type</li>
        </ol>

        <div class="row">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="card-header bg-blue">
                        <h5 class="text-white m-b-0">Add New Leave Type</h5>
                    </div>

                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!--Row Employee Code-->
                        <h4 class="form-heading-1">Add Leave Type</h4>
                        <div class="row">

                            <!--Form Field Employee Code-->
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label("Leave Type", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.LeaveTypeName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LeaveTypeName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--EOF Employee Code-->

                        </div>
                        <!--EOF Row Employee Code-->

                        <hr class="m-t-3 m-b-3">

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add New" class="btn btn-success" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
