@model IEnumerable<IARTAutomationApp.Models.LeaveApplication>

@{
    ViewBag.Title = "Index";
   
    int SrNo = 0;
}

@Html.Raw(TempData["msg"])

<!-- Main content -->
<div class="content">

    <ol class="breadcrumb bc-colored bg-success m-b-3">
        <li class="breadcrumb-item"><a href="#">Admin-HR</a></li>
        <li class="breadcrumb-item"><a href="#">Leave Management</a></li>
        <li class="breadcrumb-item active">All Leave Applications</li>
    </ol>

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-black m-b-1">All Leave Applications</h4>
                            <p>This is the master table for displaying Number of Leaves for the Academic Year.</p>
                            <div class="row m-t-4">
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-green text-white">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-face-smile"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Total Leave Applications</h6>
                                                <h1 class="text-white">@ViewBag.EmpOnLeave</h1>
                                                <span class="progress-description text-white"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-darkblue">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-stats-up text-white"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Employee Under CONTTISS Salary Scale</h6>
                                                <h1 class="text-white">0</h1>
                                                <span class="progress-description text-white"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-aqua">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-bar-chart"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Employee Under CONUASS Salary Scale</h6>
                                                <h1 class="text-white">0</h1>
                                                <span class="progress-description text-white"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-orange">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-money"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Employee Under CONMESS Salary Scale</h6>
                                                <h1 class="text-white">0</h1>
                                                <span class="progress-description text-white"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="width:100px; text-align: center;">S. No.</th>
                                                <th>@Html.DisplayName("Employee Code")</th>
                                                <th>@Html.DisplayName("Leave Type")</th>
                                                <th>@Html.DisplayName("Leave FROM Date")</th>
                                                <th>@Html.DisplayName("Leave TO Date")</th>
                                                <th>@Html.DisplayName("Total Leave Days")</th>
                                                <th>@Html.DisplayName("Status")</th>
                                                <th>@Html.DisplayName("Application Date")</th>
                                                <th style="width:150px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {

                                            { SrNo = SrNo + 1;
                                            }
                                            if (item.Status == "Pending")
                                            {
                                                <tr class="alert-danger">
                                                    <td style="text-align: center;">@SrNo</td>
                                                    <td>@Html.DisplayFor(modelItem => item.EmployeeCode)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.LeaveTypeName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.LeaveFromDate)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.LeaveToDate)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.NoOfDays)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.AppDate)</td>
                                                    <td style="text-align: center;">

                                                        @Html.ActionLink("Edit", "Edit", new { id = item.LeaveAccId })

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td style="text-align: center;">@SrNo</td>
                                                    <td>@Html.DisplayFor(modelItem => item.EmployeeCode)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.LeaveTypeName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.LeaveFromDate)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.LeaveToDate)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.NoOfDays)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.AppDate)</td>
                                                    <td style="text-align: center;">

                                                        @Html.ActionLink("Edit", "Edit", new { id = item.LeaveAccId })

                                                    </td>
                                                </tr>
                                            }





                                        }
                                            <tfoot class="bg-success" style="color: #fff;">
                                                <tr>
                                                    <th style="width:100px; text-align: center;">S. No.</th>
                                                    <th>@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                                                    <th>@Html.DisplayNameFor(model => model.LeaveTypeName)</th>
                                                    <th>@Html.DisplayNameFor(model => model.LeaveFromDate)</th>
                                                    <th>@Html.DisplayNameFor(model => model.LeaveToDate)</th>
                                                    <th>@Html.DisplayNameFor(model => model.NoOfDays)</th>
                                                    <th>@Html.DisplayNameFor(model => model.IsApproved)</th>
                                                    <th>@Html.DisplayNameFor(model => model.AppDate)</th>
                                                    <th style="width:150px; text-align: center;">Action</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Main row -->
    </div>
    <!-- /.content --> 