@model IARTAutomationApp.Models.AllowanceMaster

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>AllowanceMaster</h4>
    <hr />
  <dl style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.AllowanceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowanceHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowanceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AllowanceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
