@model IEnumerable<IARTAutomationApp.Models.EmployeePI>

@{
    ViewBag.Title = "Index";
    
}

<!-- Main content -->
<div class="content">

    <ol class="breadcrumb bc-colored bg-success m-b-3">
        <li class="breadcrumb-item"><a href="#">Admin-HR</a></li>
        <li class="breadcrumb-item active">All Employees Personal Information</li>
    </ol>
    <h5 class="alert-danger"> @TempData["msg"] </h5>
    <h5 class="text-success">  @TempData["successmsg"] </h5>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-black m-b-1">All Employees Personal Information</h4>
                            <p></p>
                            <div class="row m-t-4">
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-green text-white">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-face-smile"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Total Employee Records</h6>
                                                <h1 class="text-white">@ViewBag.NoOfStaff</h1>
                                                <span class="progress-description text-white"> 45% Increase in 30 Days </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-darkblue">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-stats-up text-white"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">New Employees</h6>
                                                <h1 class="text-white">4</h1>
                                                <span class="progress-description text-white"> 70% Increase in 30 Days </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-aqua">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-bar-chart"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">On Leave</h6>
                                                <h1 class="text-white">1</h1>
                                                <span class="progress-description text-white"> 50% Increase in 30 Days </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                                <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-orange">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-money"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Retiring Soon</h6>
                                                <h1 class="text-white">0</h1>
                                                <span class="progress-description text-white"> 35% Increase in 30 Days </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- /.col -->
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="width:100px; text-align: center;">S. No.</th>
                                                <th style="width: 150px; text-align: center;">@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.EmpEmailId)</th>
                                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.MobileNo)</th>
                                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.PermanentAddress)</th>
                                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.EmployeeStatus)</th>
                                                <th style="width:150px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(modelItem => item.EmployeePIId)
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(modelItem => item.EmployeeCode)
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(modelItem => item.EmpEmailId)
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(modelItem => item.PermanentAddress)
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(modelItem => item.MobileNo)
                                                </td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(modelItem => item.EmployeeStatus)
                                                </td>
                                                <td style="text-align: center;">
                                                    <!--<i class="fas fa-pencil-alt edit-delete"></i>&nbsp;&nbsp; | &nbsp;&nbsp;
                                                    <i class="fas fa-trash-alt edit-delete"></i>&nbsp;&nbsp; | &nbsp;&nbsp;
                                                    <i class="fas fa-eye edit-delete"></i> <br />-->

                                                    @Html.ActionLink("Edit", "MidLevelEdit", new { id = item.EmployeePIId }) |
                                                     @Html.ActionLink("Full Details", "FullDetails", new { id = item.EmployeeCode })
                                                    
                                                </td>
                                            </tr>
                                        }
                                        <tfoot class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th style="width:100px; text-align: center;">S. No.</th>
                                                <th style="width: 150px; text-align: center;">@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.EmpEmailId)</th>
                                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.MobileNo)</th>
                                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.PermanentAddress)</th>
                                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.EmployeeStatus)</th>
                                                <th style="width:150px; text-align: center;">Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main row -->
</div>
<!-- /.content --> 
