@model IARTAutomationApp.Models.UserMaster


@{
    ViewBag.Title = "Create";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content">

        <ol class="breadcrumb bc-colored bg-success m-b-3">
            <li class="breadcrumb-item"><a href="#">Admin-HR</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active">Change Password</li>
        </ol>

        <div class="row">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="card-header bg-blue">
                        <h5 class="text-white m-b-0">Change Password</h5>
                    </div>

                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.UserId)
                        <!--Row Employee Code-->
                        <h4 class="form-heading-1">Update User</h4>
                        <div class="row">


                            <!--Form Field Employee Code-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Employee Code", "Select Employee Code", htmlAttributes: new { @class = "col-sm-6" })
                                    @Html.EditorFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--EOF Employee Code-->

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Old Password", htmlAttributes: new { @class = "control-label" })
                                    @Html.Editor("Old", "", new { @class = "form-control", @id = "oldPwd" })

                                </div>
                            </div>


                                <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("New Password", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })


    @*@Html.Password("Password",Model.Password, new { htmlAttributes = new { @class = "form-control", @readonly = true } })*@
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label" })
                                    @Html.Password("ConfirmPwd", "", new { @class = "form-control", @id = "ConfirmPwd" })

                                </div>
                            </div>



                            <!--EOF Employee Code-->

                        </div>
                        <!--EOF Row Employee Code-->

                        <hr class="m-t-3 m-b-3">

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Update" class="btn btn-success" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />




<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        $.noConflict();  $("#EmployeeCode").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: "/EmployeeAIs/AutoEmployeeCode",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Value, value: item.Value };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>



<script>

        $('#EmployeeCode').change(function () {
            debugger;
            var EmployeeCode = $(this).val();

        // Send Ajax call and get Task name

    //var Url = 'http://example.com/Controller/Action/?jobid=' + JobId;

            $.ajax({

                url: '/UserMasters/getEmployeedetail/?EmployeeCode=' + EmployeeCode,
                success: function (response) {
                    debugger;


                    $('#UserName').val(response[0].Name);
                    $('#EmailId').val(response[0].EmailId);
                    $('#OrganizationName').val(response[0].OrgName);
            //$('#txtUnit').val(response.Unit);

        },
        error: function (error) {
            alert(errorss);
        }

    });

        });


        $('#ConfirmPwd').focusout(function () {
            if(  $('#ConfirmPwd').val()!=$('#Password').val())
            {
                $('#ConfirmPwd').val("");
                alert("Confirm Password must be same as Password")
            }

        });
</script>
