@model IEnumerable<IARTAutomationApp.Models.CustomerMaster>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<div class="content">
    <ol class="breadcrumb bc-colored bg-success m-b-3">
        <li class="breadcrumb-item"><a href="#">Super Admin</a></li>
        <li class="breadcrumb-item active">All Tenants</li>
    </ol>
    <h5 class="alert-danger">  </h5>
    <h5 class="text-success">  </h5>

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-black m-b-1">All Tenants</h4>
                            <p></p>

                            <div class="row m-t-4">
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-green text-white">
                                        <div class="col-12">
                                            <span class="info-box-icon bg-transparent"><i class="ti-face-smile"></i></span>
                                            <div class="info-box-content">
                                                <h6 class="info-box-text text-white">Total Tenant</h6>
                                                <h1 class="text-white">@ViewBag.NoOfTenants</h1>
                                                <span class="progress-description text-white"> all tenants </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info-box -->
                                </div>

                            </div>

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th>@Html.DisplayName("Login Name (EmpCode)")</th>
                                                <th>@Html.DisplayName("Password")</th>
                                                <th>@Html.DisplayName("User Name")</th>
                                                <th style="text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="employeeGItbl">
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.UserMaster.EmployeeCode)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.UserMaster.Password)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.UserMaster.UserName)</td>
                                                    <td style="text-align:center;">
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                                                        @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot class="bg-success" style="color: #fff;">
                                            <tr>
                                                <th>@Html.DisplayName("Login Name (EmpCode)")</th>
                                                <th>@Html.DisplayName("Password")</th>
                                                <th>@Html.DisplayName("User Name")</th>
                                                <th style="text-align: center;">Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main row -->
</div>
<!-- /.content -->